input[type="text"], select {
    width: 800px;
    padding: 10px;
    margin-bottom: 10px; 
    box-sizing: border-box; 
}

.theform{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contactUs {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: #000000;
}

.theform {
    align-items: center;
    margin-left: 50%;
    margin-right: 50%;
}