body {
    margin: 0 auto;
  }
  
  div.elem-group {
    margin: 20px 0;
    color: #e1e1e1;

  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    float: left;
    margin-left: 1%;
    color: #e1e1e1;

  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
    color: #e1e1e1;
    
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #6b0000;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
    background-color: #3d3d3d;
    color: #e1e1e1;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
    color: #e1e1e1;
    
  }
  
  textarea {
    height: 250px;

  }
  
  hr {
    border: 1px dotted #ccc;
    color: #e1e1e1;
  }
  
  button {
    height: 50px;
    background: #6b0000;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    padding-left: px;
    font-weight: 600;
  }
  
  button:hover {
    border: 2px solid black;
    background-color: white;
    color: #6b0000;
    font-weight: 600;
  }

  .reservationinfo{
    padding-left: 20px;
    padding-right: 20px;
    color: #e1e1e1;
  }

  .centered{
    align-items: center;
    padding-right: 5px;
  }

  .bookbutton{
    text-align: center;
  }

  .font{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: #e1e1e1;
  }

  .sub-text{
    color: #e1e1e1;
  }
  
.heroText {
    color: white;
    
}

.heroText a:visited {
    color: white;
}

.logo {
    width: 5%;
    margin-right:1%;
}

@media (max-width: 767.98px) {
  .card .img-fit {
      aspect-ratio: 1.45 / 1;
  }
}

.logo {
  width:40px;
  min-height: 100px;
  padding: 0 15px 5px;
}