
.card .img-fit {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card {
    height: 100%;
}

.card-body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

@media (max-width: 767.98px){
    .card .img-fit {
        aspect-ratio: 1.45 / 1;
    }
}

.navbar {
    background-color: #f8e6b8
}

.logo {
    width:40px;
    min-height: 100px;
    padding: 0 15px 5px;
}

.nav-link {
    font-size:15px;
    text-align:center;
}

.navbar-nav .nav-link {
    margin-right: 25px;
}

.navbar-nav {
    display: flex !important;
    justify-content: center !important;
}

.navbar-nav .nav-item {
    margin: 0 10px !important;
}

.navbar-brand {
    font-size: 30px; 
    color: rgb(198, 71, 71);
}

html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #ffffff;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-nav .nav-link {
    color: rgb(198, 71, 71);
}


#home {
    background: url(/images.src/burger.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    opacity:.87;
}

.navbar-toggler-icon {
    background-color: rgb(54, 16, 136); 
    border: 1px solid white;
    border-color: aliceblue;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-family: 'Chakra Petch', sans-serif;

    font-size: 650%;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.landing-text h3 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

#orderNow {
    color: rgb(0, 0, 0);
    border-color: white;
    background-color: white;
    box-shadow: 2px 2px 4px black;
}

#orderNow:hover {
    background-color: #5c0000; /* Change to the desired background color */
    color: white; /* Change to the desired font color */
}


#orderNow {
    transition: background-color 0.3s, color 0.3s;
}
.mission-section {
    padding-top: 40px;
}














.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 50;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }

.card-img{
    
}

.reservation {
    display: inline-flex;
    padding-left:110px;
}

@media (min-width: 750px) {
    .card img {
      height: 11em;
    }
 }

 hr{
    width: 400px;
    height: 6%;
    border-top: 5px solid;
    margin-right: auto;
    padding-bottom: 0%;
 }

 #content{
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
 }

 .contact-desc{
    font-size: smaller;
 }

 .div2 {
    width: 400px;
    height: 800px; 
 }


