

table{
    text-align: center;
    width: 100%;
}


/* card styling */
.card .img-fit {
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.card { 
    height: 100%;
    border-color: rgb(157, 157, 157);
    margin-left: 20px;
    box-shadow:  0px 2px 4px #636363;
}

.card-body{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.selling{
    font-family: 'DM Serif Display', serif;
    margin-top: 17px;
    text-align: center;
}

.extraCards{
    font-family: 'DM Serif Display', serif;
    font-size:xxx-large;
    margin-top: 17px;
    text-align: center;
    color:#391919
}

.ourMission {
    background-color: #5c0000;
    padding: 2%;
    color:#fff
}

.upcomingEvents {
    background-color: #5c0000;
    padding: 2%;
    color:#fff;
    margin: 2%;
}
.message {
    padding: 2%;
    margin: 2%;
}

.contactUs {
    font-size: xxx-large;
}

.actualMessage {
    text-align: center;
    font-weight: 500;
}

.selling a:link {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: rgb(187, 104, 104);
    text-decoration: none;
}

.selling a:visited {
    color: black; 
}

.selling a:hover {
    color:#8a4040; 
    font-size: ;
}

.selling a:active {
    color:#5c0000; /* Color for active links (when clicked) */
}

.selling {
    margin-top: 2%;
}



.btn-outline-primary {
    border-color: #5c0000;
    color: #5c0000; /* Optional: Change text color on hover */
  }

.btn-outline-primary:hover {
    background-color: #5c0000;
    border-color: #5c0000;
    color: #fff; /* Optional: Change text color on hover */
  }



@media (max-width: 767.98px) {
    .card .img-fit {
        aspect-ratio: 1.45 / 1;
    }
}









html, body {
    height: 100%;
    width: 100%;
}



#home {
    background: url(/images.src/Big\ Cheeseburge\ 3bc4b8cc-c2bd-450c-b5eb-756e667d1595.png) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
    opacity: .87;
    z-index: 1; /* Ensure the landing image stays below the navigation bar */
}



/* landing page and image styling */
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.landing-text h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: ;
    font-size:600%;
    padding-bottom: 20px;
    color: white;
    text-shadow: 4px 4px 6px black;
}

.landing-text h3 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

#orderNow {
    color: rgb(0, 0, 0);
    border-color: white;
    background-color: white;
    box-shadow: 2px 2px 4px black;
}

#orderNow:hover {
    background-color: #5c0000; /* Change to the desired background color */
    color: white; /* Change to the desired font color */
}


#orderNow {
    transition: background-color 0.3s, color 0.3s;
}


.reservation {
    display: inline-flex;
    padding-left:110px;
}

h1{
    text-align:center;
}

.types{
    margin-left: 45px;
    margin-right: 45px;
}

.mission{
    margin-top:20px;
    margin-bottom: 30px;
    background-color: #5c0000;
    padding-bottom: 20px;
    color:#e1e1e1;
    border-radius: 100px;
}

.img-fluid.mission-section {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Set a max-width for responsiveness */
  .img-fluid.mission-section {
    padding-top: 22%;
    max-width: auto;
    max-height: 100%;
  }

a.p-0 {
    color: black;
}
  

a.p-0:visited {
    color: black;
}

a.p-0:hover {
    color:#a94444;
}
.floats{
    margin-bottom: 45px;
}

.div2{
    margin-left: 5%;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4%;
}

.map {
    width: 100%;
    height: 100%;
    border: 0;
}

.upEvents {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: xxx-large;
    margin-top: 3%;
}

.mission {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: xxx-large;
}

body {
    background-color: #f2f2f2;
}

p {
    font-family: 'Yantramanav', sans-serif;;
}
.div2{
    text-align: center;
}
.address {
    text-align: center;
}
.map-container {
      position: relative;
      padding-bottom: 75%; /* Adjust this value based on your layout */
      height: 0;
      overflow: hidden;
      margin-top: 20px;
      margin-left: 50px; /* Add top margin */
}

#submitButton {
    background-color: #5c0000;
}

#subscribeButton {
    background-color: rgb(0, 0, 0);
    border-color: #5c0000;
    border-width: 20%;
    color: #ffffff;
}

.asterik {
    color: #ff0303;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-reservation {
      padding: 20px;
      margin-top: 20px; /* Add top margin */
    }
    .res{
      text-align:center;
    }

#noHover{
    color:#000000;
}

#background-footer{
    background-color: #5c0000;
}


.everything{
    padding-top: 3em;
    padding-bottom: 3em;
}
        
.foods {
    font-size: 40px;
}

.itemSets {
    margin-bottom: 4%;
}

button {
  background-color: #f44336;
  color: white;
  border-radius: 4px;
  padding: 10px 24px;
}

button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
  border-radius: 4px;
  padding: 10px 24px;
  transition-duration: 0.5s ;
}

.cart {
    font-size: 25px;
    text-align: center;
    color: #D4271D;
}

#shopping-cart {
    text-align: center;
    font-size: larger;
    text-decoration: none;
}

#cart-items button {
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    margin: 1%;
}


.smaller {
    width: 75%;
}
